@charset "utf-8";


body{
    margin: 0;
    background-color: floralwhite;
    background-image: url(../images/logos/logo-big.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/*ヘッダー*/
header {
    display: flex;
    background-color: floralwhite;
    align-items: center;
    box-shadow: 2px 5px 5px 0 gray;
}

.header-logo{
    display: flex;
    text-decoration:none;
    margin: 4px;
}

.logo{
    height: 50px;
    border-radius:50%;
    border: 1px solid black;
}

h1{
    margin: 0;
    margin-left: 10px;
    color: black;
}