@charset "utf-8";
@font-face {
    font-family: Zenkurenaido;
    font-display: swap;
    src: url("../fonts/ZenKurenaido-Regular.ttf") format("TrueType");
    }

body{
    margin: 0;
    background-color: #b3d3ac;
    font-family: 'Zenkurenaido', sans-serif;
}

/*ヘッダー*/
header {
    display: flex;
    background-color: floralwhite;
    align-items: center;
    box-shadow: 2px 5px 5px 0 gray;
}

.header-logo{
    display: flex;
    text-decoration:none;
    margin: 4px;
}

.logo{
    height: 50px;
    border-radius:50%;
    border: 1px solid black;
}

h1{
    margin: 0;
    margin-left: 10px;
    color: black;
}

.slide-items{
    padding-left: 0;
    margin-top: 0;
}

.about{
    display: flex;
    margin: 0 10px;
}

.about div{
    background-color: floralwhite;
    margin-right: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0 gray;
}

.about h2{
    margin-top: 0;
    color: darkslategray;
}

.about img{
    width: 30%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.479);
    box-shadow: 4px 4px 5px 0 gray;
}