@charset "utf-8";

.forms{
    height: 565.5px;
}

form{
    height: 250px;
        /* グリッドレイアウト */
        display: grid; 
        grid-template-rows: 1fr 1fr 1.25fr;
        grid-template-columns: 1fr;
}

#signin-id{
    border: 3px solid #000000;
    border-color: transparent transparent black transparent;
    background-color: #d4f1cb7c;
    width: 300px;
    height: 30px;
    text-align: center;    
    color: #3d3b3c;
    border-radius: 5px;

    grid-row: 1/2;
    grid-column: 1/2;
    margin: auto;
}

#signin-id:hover{
        background-color: #d4f1cb50;
        width: 320px;
        height: 35px;
}
#signin-id:focus{
    background-color: #d4f1cb50;
    width: 320px;
    height: 35px;
}

.form-p{
    margin-left: 25px;
    font-size: 12px;

    grid-row: 3/4;
    grid-column: 1/2;
}
.form-p a{
    color: #0300b9;
}

#signin-pass{
    border: 3px solid #000000;
    border-color: transparent transparent black transparent;
    background-color: #d4f1cb7c;
    width: 300px;
    height: 30px;
    text-align: center;    
    color: #3d3b3c;
    border-radius: 5px;

    grid-row: 2/3;
    grid-column: 1/2;
    margin: auto;
}

#signin-pass:hover{
    background-color: #d4f1cb50;
    width: 320px;
    height: 35px;
}
#signin-pass:focus{
    background-color: #d4f1cb50;
    width: 320px;
    height: 35px;
}

.form-button{
    background-color: #d4f1cbf1;
    width: 310px;
    height: 35px;
    border-radius: 5px;
    border-color: #d4f1cbf1;
    border: 0px;

    grid-row: 4/5;
    grid-column: 1/2;
    margin: auto auto 40px auto;
}
.form-button:hover{
    background-color: #d4f1cb50;
    border-color: #d4f1cb50;
    width: 320px;
    height: 35px;
}