@charset "utf-8";
@font-face {
    font-family: Zenkurenaido;
    font-display: swap;
    src: url("../../../fonts/ZenKurenaido-Regular.ttf") format("TrueType");
}
                /*#f0f8ff #fff0f0 #fffef0*/

html{
    font-size: 1px;
}

body{
    font-size: 16rem;
    margin: 0;
    font-family: 'Zenkurenaido', sans-serif;
}

header{
    margin-top: 0;
    height: 40rem;
    background-color: #f0f8ff;
    display: flex;
}
    header h1{
        margin: 0;
    }

    header img{
        height: 40rem;
    }

    /*ハンバーガーメニュー*/
            /*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
    .openbtn{
        /*ボタン内側の基点となるためrelativeを指定。
    追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
        position: relative;
        background:#88c5e4;
        cursor: pointer;
        width: 40rem;
        height:40rem;
        margin-left: auto;
    }

    /*ボタン内側*/
    .openbtn span{
        display: inline-block;
        transition: all .4s;/*アニメーションの設定*/
        position: absolute;
        left: 20%;
        height: 3rem;
        border-radius: 2rem;
        background: #fff;
        width: 60%;
    }

    .openbtn span:nth-of-type(1) {
        top:12rem;	
    }

    .openbtn span:nth-of-type(2) {
        top:20rem;
    }

    .openbtn span:nth-of-type(3) {
        top:28rem;
    }

    /*activeクラスが付与されると線が回転して×に*/

    .openbtn.active span:nth-of-type(1) {
        top: 17rem;
        left: 5rem;
        transform: translateY(0rem) rotate(-45deg);
        width: 75%;
    }

    .openbtn.active span:nth-of-type(2) {
        opacity: 0;/*真ん中の線は透過*/
    }

    .openbtn.active span:nth-of-type(3){
        top: 17rem;
        left: 5rem;
        transform: translateY(0rem) rotate(45deg);
        width: 75%;
    }
    /*ハンバーガーメニューここまで*/
/*ヘッダーここまで*/


footer{
    background-color: #fffef0;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    html{
        font-size: 2px;
    }
}